:root {
    --pc: #9dbee4;
    --fc: #d2c1e2;
    --mc: #B9CEEB;
    --rc: #e0ecfa;
}

.btn {
    position: relative;
    background: #9dbee4c0;
    color: #fff;
}

.btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 2px solid #7694b6;
    border-radius: 20px 0 0 0;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    border: 2px solid #86a8cf;
    border-radius: 20px 0 0 20px;
}

.btn a {
    position: relative;
    display: inline-block;
    padding: 9px 24px;
    font-size: 14px;
    font-weight: 600;
}

.btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #bddafc;
    border-radius: 0 20px 0 20px;
}


.btn a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: 2px solid #8eafd4;
    border-radius: 0 20px 20px 0;
}

.btn.w {
    position: relative;
    background: #fff;
    color: #9dbee4;
}

.btn.w::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 2px solid #7694b6;
    border-radius: 20px 0 0 0;
}

.btn.w::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    border: 2px solid #86a8cf;
    border-radius: 20px 0 0 20px;
}

.btn_s {
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: flex-end;
    overflow: hidden;
    width: 24px;
    transition: 0.5s;
    border-radius: 2px;
    margin: 4px 0 0 0;
}

.btn_s:hover {
    width: 62px;
}

.btn_s strong {
    width: 0;
    font-size: 18px;
    overflow: hidden;
    transition: 0.5s;
}

.btn_s:hover strong {
    width: 100%;
    transform: translate(0, 0);
}

.btn_s span {
    vertical-align: middle;
}


.gls {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.inner {
    max-width: 1600px;
    width: 100%;
    margin: 0 85px 0 auto;
    padding: 0 15px;
}

.d_flex {
    display: flex;
    gap: 30px;
}

.d_flex>* {
    flex: 1;
}


/* * {
    outline: 1px solid peru;
} */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header .header_wrap {
    display: flex;
    align-items: end;
    height: 100vh;
    width: 140px;
    background-color: rgba(157, 190, 228, 0.7);


}

.header .header_wrap .gnb {
    padding: 0 0 40px 15px;
}

.header .header_wrap .gnb ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.header .header_wrap .gnb li {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: var(--rc);
    line-height: 1.5;
    transition: 0.5s;
}

.header .header_wrap .gnb li.on {
    color: #fff;

}

.header .header_wrap .gnb li::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(-50%, -50%);
    margin: 0 4px 0 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #333;
    background: var(--rc);
}

.header .header_wrap .gnb li.on::before {
    background: #fff;
}

.home {
    background: url(../images/bg.png);
}

.home .slogan {
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: 100vh;
}

.home .slogan .left {
    position: fixed;
    top: 5%;
    left: 10%;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

.home .slogan .left .name {
    height: 30px;
    overflow-y: hidden;
    display: block;
}

.home .slogan .left .name .gr {
    line-height: 1;
    animation-name: grow;
    animation-duration: 1s;
}

.home .slogan .left .name .gr01 {
    animation-duration: 1.5s;
}

@keyframes grow {
    from {
        transform: translateY(3em)
    }

    to {
        transform: translateY(0)
    }
}

.home .slogan .left strong {
    position: relative;
    display: block;
    font-size: 20px;
    margin: 0 0 8px 0;
    z-index: 1;
}

.home .slogan .left span {
    display: block;
    font-size: 24px;
    font-weight: 800;
}

.home .slogan .left strong::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 12px;
    width: 345px;
    background: var(--rc);
    z-index: -1;
}



.home .slogan .left span {
    display: block;
    font-size: 20px;
    width: 100%;
    line-height: 30px;
}

.home .right {
    display: flex;
    height: 100%;
    align-items: end;
    justify-content: flex-end;
    text-align: right;
    transform: skew(-10deg) translate(-50%, 0);
    opacity: 0;
    transition: 1s;
}

.home.on .right {
    transform: skew(-10deg) translate(0, 0);
    opacity: 1;
}


.home .right h2 {
    font-size: 400px;
    font-weight: 900;

    line-height: 280px;
    font-weight: 900;
    -webkit-text-stroke-color: var(--pc);
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    -webkit-transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    transition: background-size 2s 1s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    background-image: radial-gradient(circle farthest-corner at center center, #e0ecfa 0%, #B9CEEB 50%, transparent 50%);
    background-position: 50% 50%;
    background-size: 0% 0%;
}

.home.on .right h2 {
    background-size: 280% 400%;
}



.project {
    overflow: hidden;
}

.slide {
    overflow: hidden;
    position: relative;
    z-index: 999;
}

.slide .content {
    position: relative;
    display: flex;
    gap: 30px;
}

.slide .content>* {
    flex: 1;
}


.slide .content .pd {
    margin: 0 80px 0 0;
}


.slide01 {
    position: relative;
    /* background: var(--rc); */
    background: linear-gradient(90deg, var(--rc) 70%, #f0f0f0);
}

/* .slide01::before {
    content: "";
    position: absolute;
    bottom: -30%;
    left: -20%;
    width: 800px;
    height: 650px;
    border-radius: 50%;
    background: #b9ceeb93;
} */

.slide01::after {
    content: "";
    position: absolute;
    top: -40%;
    right: -22%;
    width: 900px;
    height: 850px;
    border-radius: 50%;
    border: 15px solid #ffffff94;
}



.slide02 {
    position: relative;
    background: linear-gradient(90deg, #f0f0f0 70%, var(--mc));
}

/* .slide02::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 790px;
    height: 650px;
    background: #87a8d033;
} */

.slide02::after {
    content: "";
    position: absolute;
    top: -40%;
    left: -22%;
    width: 900px;
    height: 850px;
    border-radius: 50%;
    border: 15px solid #ffffff67;
}


.slide03 {
    position: relative;
    background: linear-gradient(90deg, var(--mc)70%, #ece4bd);
}


/* .slide03::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 830px;
    height: 650px;
    background: #b9ceeb93;
} */

.slide03::after {
    content: "";
    position: absolute;
    bottom: -60%;
    right: -22%;
    width: 900px;
    height: 850px;
    border-radius: 50%;
    background: #ffffff67;
}

.slide04 {
    position: relative;
    background: linear-gradient(90deg, #ece4bd 60%, var(--fc));
}

/* 
.slide04::before {
    content: "";
    position: absolute;
    top: 17%;
    right: -25%;
    width: 790px;
    height: 650px;
    border: 20px solid #ffffffb2;
    border-radius: 50%;
} */

.slide04::after {
    content: "";
    position: absolute;
    bottom: -60%;
    left: -22%;
    width: 900px;
    height: 850px;
    border-radius: 50%;
    background: #ffffff67;
}

.slide05 {
    position: relative;
    background: linear-gradient(90deg, var(--fc)60%, #DEECFC);
}

.slide05::before {
    content: "";
    position: absolute;
    top: 17%;
    right: -25%;
    width: 790px;
    height: 650px;
    border: 20px solid #ffffff8f;
    border-radius: 50%;
}

/* .slide05::after {
    content: "";
    position: absolute;
    bottom: -60%;
    left: -22%;
    width: 900px;
    height: 850px;
    border-radius: 50%;
    background: #ffffff67;
} */


.slide .txt_box {
    display: flex;
    /* background: rgba(255, 255, 255, 0.7); */
    align-items: center;
    align-self: center;
}

.slide .txt_box .top {
    margin: 0 0 40px 0;
}

/* 
.slide .txt_box .top strong {
    display: block;
    font-size: 420px;
    font-weight: 800;
    color: #fff;
    text-shadow: 8px 4px 1px var(--pc);
    text-indent: -50px;
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: -1;
} */

.t_num {
    display: block;
    font-size: 550px;
    font-weight: 800;
    color: #fff;
    text-shadow: 8px 4px 1px var(--pc);
    text-indent: -50px;
    position: absolute;
    top: -150px;
    right: -100px;
    z-index: 1;

    opacity: 0.3;
    transform: skew(-10deg);
}

/* 
.slide .txt_box .top span {
    font-size: 24px;
    font-weight: 600;
} */

.slide .txt_box .bot {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 0 8px 0;
    margin: 0 0 20px 0;
    width: 550px;
}

.slide .txt_box .bot h2 {
    font-size: 44px;
    font-weight: 800;
}

.slide .txt_box .bot p {
    color: #666;
    font-weight: 600;
}

.slide .txt_box .tool {
    margin: 0 0 24px 0;
}

.slide .txt_box .tool li~li {
    margin: 12px 0 0 0;
}

.slide .txt_box .tool li {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.slide .txt_box .tool strong {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    width: 64px;
}

.slide .txt_box .tool .info {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.slide .txt_box .tool .info>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #666;
    margin: 8px 0 0 0;
}

.slide .txt_box .tool li span {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #666;
}

.slide .color {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 3px 8px 0 0;
}

.slide01 .co01 {
    background: #3F000F;
}

.slide01 .co02 {
    background: #BD002C;
}

.slide01 .co03 {
    background: #FFC812;
}

.slide01 .co04 {
    background: #BD002C;
}

.slide02 .co01 {
    background: #000;
}

.slide02 .co02 {
    background: #e4002b;
}

.slide02 .co03 {
    background: #444;
}

.slide03 .co01 {
    background: #2FAAFF;
}

.slide03 .co02 {
    background: #0094FB;
}

.slide03 .co03 {
    background: #007CFB;
}

.slide03 .co04 {
    background: #0054D1;
}

.slide03 .co05 {
    background: #003D7D;
}

.slide04 .co01 {
    background: #F9F2DE;
}

.slide04 .co02 {
    background: #D4A5C9;
}

.slide04 .co03 {
    background: #BD5725;
}

.slide04 .co04 {
    background: #98B342;
}

.slide05 .co01 {
    background: #FF77A8;
}

.slide05 .co02 {
    background: #FF5492;
}

.slide05 .co03 {
    background: #d10259;
}


.slide .txt_box .link {
    display: flex;
}

.slide .txt_box .link .btn {
    margin: 0 12px 0 0;
}


.slide .img_box {
    position: relative;
}

.slide .img_box .web {
    background: rgba(255, 255, 255, 0.5);
    padding: 16px;
    box-shadow: 4px 4px 10px #00000034;
    border-radius: 5px;
}

.slide .img_box .web img {
    border-radius: 2px;
}

.slide .img_box .mb_l {
    position: absolute;
    top: 55%;
    left: 5%;
    background: rgba(241, 241, 241, 0.8);
    padding: 12px;
    box-shadow: 0 0 4px #0000003f;
    border-radius: 8px;
}


.slide .img_box .mb_l img {
    border-radius: 3px;
}

.slide .img_box .mb_r {
    position: absolute;
    top: 55%;
    right: 7%;
    background: rgba(241, 241, 241, 0.8);
    padding: 12px;
    box-shadow: 0 0 4px #0000003f;
    border-radius: 8px;
}

.slide .img_box .mb_r img {
    border-radius: 3px;
}




.training {
    background: url(../images/bg.png);
    height: 100vh;
    overflow: hidden;
}

.training .list {
    position: relative;
    display: flex;
    gap: 30px;
    height: 100%;
}

.training .list .tab_bg {
    width: 1500px;
    background: url(../images/tr01.png) no-repeat center center/cover;
}

.training .list .tab_bg .ftr {
    height: 100%;
    color: #ffffff67;
}

.training .tab {
    display: flex;
    align-self: center;
    width: 50%;
}

.training .tab .content {
    position: absolute;
    display: flex;
    gap: 30px;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    align-items: center;
    height: 100%;
    z-index: 999;

}

.training .list .tab_menu {
    width: 800px;
    font-size: 32px;

}

.training .list .tab_menu li {
    cursor: pointer;
}

.training .list .tab_menu li~li {
    margin: 40px 0 0 0;
}

.training .list .tab_menu li strong {
    position: relative;
    font-weight: 600;
    padding: 0 4px;
}

.training .list .tab_menu li strong::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 40%;
    background: var(--rc);
    z-index: -1;
    transition: 0.5s;
}

.training .list .tab_menu li strong:hover::before {
    width: 100%;
}

.training .list .tab_menu li.on strong::before {
    background: var(--fc);
    width: 100%;
}



.training .trn {
    height: 800px;
    width: 1300px;
    align-self: flex-end;
}

.training .trn .tab_img {
    height: 100%;
}

.training .trn .tab_img li {
    position: relative;
    transform: translate(0, 100%);
    height: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: 0.5s;
}

.training .trn .tab_img li.on {
    transform: translate(0, 0);
    border-radius: 50px 50px 0 0;
    height: 100%;
}

.training .trn .tab_img figure {
    padding: 50px;
    background: rgba(255, 255, 255, 0.4);
    height: 100%;

    border-radius: 50px 50px 0 0;
}

.training .trn .tab_img figure img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}



.training .trn .tab_img li .txt_box {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 0 0;
    height: 275px;
    width: 100%;
}

.training .trn .tab_img li .txt_box strong {
    display: block;
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 16px 0;
}

.training .trn .tab_img li .cate_box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    padding: 45px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 50px 50px 0 0;
    height: 110px;
    width: 100%;

}

.training .trn .tab_img li .cate_box dl {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 300;
}

.training .trn .tab_img li .cate_box dt {
    position: relative;
    margin: 0 40px 0 0;
    color: #666;
}

.training .trn .tab_img li .cate_box dt::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    border-right: 1px solid #666;
    border-top: 1px solid #666;
    margin: 6px -22px 0 0;
}

.training .trn .tab_img li .cate_box dd {
    color: #222;
}

.profile {
    background: var(--rc);
}

.profile .left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .left>* {
    position: absolute;
    top: 0;
    left: 0;
}

.profile .left figure {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 8px 0;
}

.profile .left img {
    width: 400px;
    height: 365px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #f9f9f9d2;
}

.profile .left .flower {
    position: relative;
    width: 400px;
    height: 420px;
}

.profile .left .flower span {
    position: absolute;
    top: 0;
    left: 50%;
    height: 50%;
    transform-origin: center bottom;
}

.profile .left .flower .f01 {
    color: var(--fc);
}

.profile .left .flower .f02 {
    color: #ecd55d;
}

.profile .left .flower .f03 {
    color: var(--pc);
}

.profile .left .flower .f04 {
    color: var(--mc);
}

.profile .right {
    padding: 40px;
}

.profile .pr {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #666;
    margin: 0 0 52px 0;
}

.profile .pr h2 {
    font-size: 32px;
    font-weight: 800;
    color: #7694b6;
    margin: 0 0 4px 0;
}

.profile .pr strong {
    display: block;
    font-weight: 600;
}

.profile .edu {
    margin: 0 0 52px 0;
}

.profile .edu strong {
    display: block;
    font-size: 32px;
    font-weight: 800;
    color: #7694b6;
    margin: 0 0 12px 0;
}

.profile .edu li {
    color: #666;
    font-weight: 600;
}

.profile .edu li span {
    margin: 0 8px 0 0;
    font-weight: 400;
}


.profile .edu li~li {
    margin: 8px 0 0 0;
}

.profile .call strong {
    display: block;
    font-size: 32px;
    font-weight: 800;
    color: var(--pc);
    margin: 0 0 12px 0;
}

.profile .call ul {
    display: flex;
}



.profile .call li {
    display: flex;
    color: #666;
}

.profile .call li~li {
    margin: 4px 0 0 0;
}

.profile .call li span {
    margin: 0 8px 0 0;
    color: #7694b6;
    font-size: 22px;
    padding: 2px 0 0 2px;

}

.profile .call li a {
    display: block;
    align-self: center;
}